footer{
    width: 100%;
    height: 70px;
    background-color: rgba(1, 169, 96, 0.922);
}
footer ul{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
footer .item-person{
    color: white;
}


footer .social-media{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.206);
    height: 140%;
}


footer .social-media-item{
    margin: 0 20px;
    cursor: pointer;
}

footer #instagram{
    width: 100px;
    height: 50px;
    color: rgb(255, 68, 0);
    transition: all .6s;
}
footer #instagram:hover{
    width: 45.5px; /* Proporção de 6.5px */
    height: 49px;  /*Proporção de 7px*/
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 68, 0);
    border-radius: 100px;
    transition: all .6s;
}



footer #facebook{
    width: 100px;
    height: 50px;
    color: rgb(0, 0, 255);
    transition: all .6s;
}

footer #facebook:hover{
    width: 45.5px; /* Proporção de 6.5px */
    height: 49px;  /*Proporção de 7px*/
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
    border-radius: 100px;
    transition: all .6s;
}

footer #twitter{
    width: 100px;
    height: 50px;
    color: rgba(0, 162, 255, 0.986);
    transition: all .6s;
}

footer #twitter:hover{
    width: 45.5px; /* Proporção de 6.5px */
    height: 49px;  /*Proporção de 7px*/
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 162, 255, 0.986);
    border-radius: 100px;
    transition: all .6s;
}

