@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Share+Tech&display=swap');
@import url(./navbar.css);
@import url(./footer.css);

body{
    background-image: url(../img/background-agrovida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}